.DS_Store
demo/
MTD-Turorial

metabolic_analysis/script/.ipynb_checkpoints/
metabolic_analysis/script/__pycache__

tf_prediction/data/
tf_prediction/seq/
tf_prediction/deeptfactor/__pycache__
tf_prediction/__pycache__

msa/blast/bin
msa/blast/doc
msa/blast/protein_file
msa/blast/db_prot_all
msa/mafft-mac/mafftdir


omic_analysis/pca_analysis/output_file/pca_2d_files
omic_analysis/pca_analysis/output_file/pca_3d_files


omic_analysis/differential_analysis/output_file
omic_analysis/differential_analysis/input_file

Search-add